/* You can add global styles to this file, and also import other style files */
.thf-widget-no-shadow {
    border: none !important;
}

body {
    background: #f36560;
}

.thf-widget {
    background: transparent;
}

.thf-button-primary {
    background: #000;
    border: none;
}